.language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.lng-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
