.toggleNav {
  display: flex;
  justify-content: flex-end;
}

.sep {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.menuNav {
  width: 100%;
  height: 100%;
}
