#projectsMain {
  transition: scroll-behavior 0.5s ease-in-out;
}
.projectsContainer2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sayfalarim {
  width: 300px;
  margin: 30px 10px;
}
.dataFoto {
  width: 300px;
  height: 180px;
  padding-bottom: 18px;
}
.dataBaslik {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 28px;
  padding-bottom: 18px;
}
.dataAciklama {
  height: 126px;
  max-height: 126px;
  overflow: auto;
  margin-bottom: 18px;
}
.yazilimlar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 18px;
}
.dataYazilimlar {
  padding: 6px 18px 7px;
  gap: 10px;
  border-radius: 4px;
  margin: 5px 0px;
}
.dark-mode .dataYazilimlar {
  background: #383838;
  border: 1px solid #8f88ff;
  color: #8f88ff;
}
.light-mode .dataYazilimlar {
  background: #ffffff;
  border: 1px solid #3730a3;
  color: #3730a3;
}

.dataLinkler {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dataLinkler a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
}
.dark-mode .dataLinkler {
  color: #e1e1ff;
}
.light-mode .dataLinkler {
  color: #3730a3;
}
@media (max-width: 1150px) {
  .projectsContainer2 {
    justify-content: space-around;
  }
}
